* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* outline: 1px solid red; */
}
.card {
    margin: 2em auto;
    width: 80%;
}
.profile {
    height: 6em;
    position: relative;
    top: 3em;
    left: 3em;
    /* background-color: red; */
}
.header {
    background-color: #17a2b8;
    /* height: 100px; */
}

.image-and-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.info {
    padding: 3em;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 1rem;
    border: 3px solid #cccccc;
    border-top: 0;
}

a {
    color: #0a5394;
}

.inline {
    height: 1em;
    vertical-align: center;
}
